[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-cors = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-apispec = "==0.11.0"
werkzeug = "==2.0.0"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
